@font-face {
  font-family: "futura";
  src: url("Futura.ttc") format("ttc");
  font-weight: normal;
  font-style: normal;
}


.nav-link
{
  font-family: futura;
}
html
{
  scroll-behavior: smooth;
  
  
}

